---
import Layout from "../layouts/Layout.astro";
---

<Layout title="AI-LAB">
  <section class="space-y-6">
    <h1 class="text-5xl font-bold text-cyan-400">AI-LAB</h1>
    <p class="text-xl text-zinc-300">Infraestructura cognitiva distribuida</p>
  </section>
</Layout>
