---
import Layout from "../../../layouts/Layout.astro";
import HistoryCharts from "../../../components/HistoryCharts.jsx";
---

<Layout title="AI-LAB History">

  <div class="space-y-8">

    <div>
      <h1 class="text-4xl font-bold">
        AI-LAB Historical Telemetry
      </h1>

      <p class="text-zinc-400 mt-2">
        Observabilidad histórica del laboratorio.
      </p>
    </div>

    <HistoryCharts client:load />

  </div>

</Layout>
